@model IEnumerable<HelloLinux.ViewModels.PostsViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Добавьте свой пост!</a>
</p>
<p>
    <a asp-action="MyPosts">Ваши посты</a>
</p>
<h1>Все посты:</h1>

<div class="container">
    <main role="main" class="pb-3">
        @if (TempData["Sucess"] != null)
        {
            <div class="alert alert-success">
                @TempData["Sucess"]
            </div>
        }
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Error"]
            </div>
        }
        @foreach (var post in Model)
        {
            <div>
               <a asp-action="InsidePost" asp-controller="Posts" asp-route-id="@post.Id"><h2>@post.Title</h2></a> 
                <div>
                    <span>Автор: <b>@post.AuthorName</b> </span><br>
                    <span>Дата: @post.CreatedOn</span>
                </div>
                <div>
                    <p>@post.Content</p>
                </div>
                <div>
                    Лайки: @post.Likes
                </div>
            </div>
        }
    </main>
</div>

